a {
	text-decoration: none;
	-webkit-transition: opacity 0.2s; /* For Safari 3.1 to 6.0 */
	transition: opacity 0.2s;
}

a:hover{
	opacity: 0.6;
}

body {
	margin: 0 0 0 0;
	font: 14px 'League Spartan', sans-serif;
	color: black;
}

#title {
	height: auto;
	width: 100%;
	padding: 40px 0 40px 0;
}

#logo {
	height: auto;
	width: 300px;
	overflow: hidden;
	margin: auto;
}

.button {
	visibility: hidden;
	padding: 20px;
	margin-top: -80px;
	font-size: 26px;
	float:right;
}

#signin {
	margin-right: 160px;
}

#register{
}

#container {
	margin-left: -40px;
	text-align: center;
}

.gif {
	height: 300px;
	width: 300px;
	margin: 0 0 40px 40px;
	display: inline-block;
	background-color: #9a9;
}

.gif .form {

}

.gif input {
	width: 280px;
	margin: 10px;
}