</head>
<body>
	<div id="title">
		<div id="logo">
			<a href="/"><img src="/images/voio.png"></a>
		</div>
		<ul id="menu">
			<a class="button" href="#"><li id="open">&#9776;</li></a>
			<!-- <a class="button" href="/login"><li>sign in</li></a> -->
			<!-- <a class="button" href="/signup"><li>register</li></a> -->
			<a class="button" href="/upload"><li>upload</li></a>
		</ul>
	</div>