@font-face {
    font-family: 'league_spartanregular';
    src: url('leaguespartan-bold-webfont.eot');
    src: url('leaguespartan-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold-webfont.woff2') format('woff2'),
         url('leaguespartan-bold-webfont.woff') format('woff'),
         url('leaguespartan-bold-webfont.ttf') format('truetype'),
         url('leaguespartan-bold-webfont.svg#league_spartanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
	text-decoration: none;
	transition: opacity 0.2s;
	color: #000;
}

a:hover{
	opacity: 0.6;
}

body {
	margin: 0 0 0 0;
	font: 14px 'League Spartan', sans-serif;
	color: black;
}

#title {
	height: 80px;
	width: 100%;
	padding: 0;
	position: fixed;
	top:0;
	left:0;
	background-color: #fff;
	z-index: 2;
	border-bottom: 1px solid #ccc;
	opacity: 0.95;
}

#logo {
	float:left;
	padding-left: 0px;
	margin-right: -270px;
	z-index: 4;
}

#menu {
	float: right;
	height: 80px;
	overflow: hidden;
	margin: 0;
	text-align: right;
	z-index: 2;
}

#menu:hover {
	height: auto;
}

#menu li {
	list-style: none;
	font-size: 24px;
	line-height: 80px;
	height:80px;
	padding: 0 40px 0 40px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	transition: opacity 0.2s;
}

#menu li:hover {
	opacity: 0.8;
}

#menu #open {
	font-size: 32px;
	background-color: transparent;
	border-top: 0;
}

#container, #profile_container, #signup_form, #login_form {
	margin-top: 120px;
	text-align: center;
	width: 100%;
	height: auto;
}

.gif {
	height: 300px;
	width: 300px;
	margin: 5px 10px 10px 10px;
	display: inline-block;
	background-color: #9a9;
}

.gif .form {

}

.gif input {
	width: 280px;
	margin: 10px;
}