body {
	background-color: #000;
	color: #fff;
}

a {
	color: white;
}

#menu li {
	background: transparent;
	border:none;
}

#title {
	background: transparent;
	border: none;
}

#logo {
	background-image: url('/images/voiow.png');
}