body {
	background-color: #000;
	color: #fff;
}

a {
	color: #fff;
}

#menubutton {
	border-color: #fff;
}

#title {
	background: none;
	border: none;
}

#logo {
	background-image: url('/images/voiow.png');
}

#user_container {
	padding-top: 60px;
}

#pageFeed {
	margin-left: -215px;
}

#pageExplore {
	margin-left: 140px;
}

.hLink {
	opacity: 0.4;
}

.hLink:hover {
	opacity: 0.8;
}