@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold-webfont.eot');
    src: url('leaguespartan-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold-webfont.woff2') format('woff2'),
         url('leaguespartan-bold-webfont.woff') format('woff'),
         url('leaguespartan-bold-webfont.ttf') format('truetype'),
         url('leaguespartan-bold-webfont.svg#league_spartanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
	text-decoration: none;
	transition: opacity 0.2s;
	color: #000;
}

a:hover {
	opacity: 0.6;
}

h1 {
	font: 30px 'League Spartan', sans-serif;
	text-transform: uppercase;
	letter-spacing: 10px;
}

h2 {
	font: 15px 'League Spartan', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

body {
	margin: 0 0 0 0;
	font: 14px 'League Spartan', sans-serif;
	color: black;
}

#title {
	height: 80px;
	width: 100%;
	padding: 0;
	position: fixed;
	top:0;
	left:0;
	background-color: #fff;
	z-index: 2;
	opacity: 0.95;
}

#logo {
	float:left;
	padding-left: 0px;
	margin-right: -270px;
	z-index: 4;
	width: 230px;
	height: 84px;
	background: transparent url('/images/voio.png') no-repeat center scroll;
}

#menubutton {
	float: right;
	height: 40px;
	margin: 17px 30px 17px 0;
	padding: 0 20px 0 20px;
	border: 3px solid #000;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	z-index: 2;
	transition: opacity 0.5s, letter-spacing 0.5s;
}

#menubutton:hover {
	opacity: 0.6;
	letter-spacing: 5px;
}

#container, #user_container, #upload_container, #pending_container, #signup_form, #login_form {
	margin-top: 120px;
	text-align: center;
	width: 100%;
	height: auto;
}

#pending_container {
	margin-top: 0;
}

#user_container {
	margin-top: 0px;
}

#upload_container {
	max-width: 600px;
	margin: 60px auto 0 auto;
}

#home_container {
	width: 100%;
	box-sizing: border-box;
	padding: 200px 0 200px 0;
	text-align: center;
	background-color: #a0f;
}

.gif {
	height: 300px;
	width: 300px;
	margin: 10px;
	display: inline-block;
}

.pending {
	height: 400px;
}

.gifButton {
	height: 50px;
	width: 300px;
	text-align: center;
	line-height: 50px;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: opacity 0.2s;
}

.gifButton:hover {
	opacity: 0.6;
}

.message {
	width: 100%;
	max-width: 600px;
	min-height: 60px;
	background-color: #fff;
	color: #84a;
	border: 3px solid #84a;
	margin: 30px auto 30px auto;
	text-align: center;
	font: 18px 'League Spartan', sans-serif;
	line-height: 60px;
	letter-spacing: 2px;
}

/*
Log In
*/

input {
	width: 100%;
	max-width: 600px;
	height: 60px;
	background-color: #000;
	color: #fff;
	border: 3px solid #000;
	margin: 30px 0 30px 0;
	text-align: center;
	font: 18px 'League Spartan', sans-serif;
	letter-spacing: 2px;
	transition: background-color 0.5s, color 0.5s;
	-webkit-appearance: none;
}

input:focus {
	background-color: #fff;
	color: #000;
}

#subbutton {
	max-width: 606px;
	height: 66px;
	letter-spacing: 5px;
	text-transform: uppercase;
	transition: background-color 0.5s, color 0.5s, letter-spacing 0.5s;
}

#subbutton:hover {
	background-color: #fff;
	color: #000;
	letter-spacing: 15px;
}

/*
Upload
*/

#upMessage {
	opacity: 0;
	transition: opacity 0.5s;
}

#upButton {
	position: absolute;
	left:0;
	right:0;
	margin:auto;

	z-index: -1;

	max-width: 600px;
	height: 66px;

	letter-spacing: 5px;
	text-transform: uppercase;

	background-color: #fff;
	color: #000;

	transition: background-color 0.5s, color 0.5s, letter-spacing 0.5s;
}

#upForm:hover > #upButton {
	letter-spacing: 15px;
}

#upFile {
	position: absolute;
	left:0;
	right:0;
	margin:auto;

	opacity: 0;
}

.progress {
  height: 60px;
  overflow: hidden;
  border: 3px solid #000;
}

.bar {
  height: 100%;
  background-color: #84a;
}