<% include head %>
<script>
		var ops  = [<%- ops %>];
		var gifs = [<%- gifs %>];
</script>

<script type="text/javascript" src="/javascripts/squares.js"></script>
<link rel="stylesheet" href="/stylesheets/home.css">

<% include title %>
		<div id="user_container">
			<h1 id="pageFeed"><a href="/" class="hLink">explore</a> feed</h1>
		</div>
	</body>
</html>