<% include head %>

<link rel="stylesheet" href="/stylesheets/home.css">

<script>
		var ops  = [<%- ops %>];
		var gifs = [<%- gifs %>];
</script>

<script type="text/javascript" src="/javascripts/squares.js"></script>

<% include title %>
		<% if (typeof user == 'undefined') { %>
			<div id="home_container">
				<h1>welcome to voio</h1>
				<h3>We find the moments, you make them.</h3>
				<a href="/signup">Get Started</a>
			</div>
		<% } %>
		<div id="user_container">
			<% if (user) { %>
				<h1 id="pageExplore">explore <a href="/feed" class="hLink">feed</a></h1>
			<% } else { %>
				<h1>explore</h1>
			<% } %>
		</div>
	</body>
</html>