<% include head %>
<script>
		var ops  = [<%- ops %>];
		var gifs = [<%- gifs %>];
</script>

<script type="text/javascript" src="/javascripts/gifffer.js"></script>
<script type="text/javascript" src="/javascripts/squares.js"></script>
<link rel="stylesheet" href="/stylesheets/home.css">

<% include title %>
		<% if (typeof user == 'undefined') { %>
			<div id="home_container">
				<h1><a href="/signup">Get Started</a></h1>
			</div>
		<% } %>
		<div id="user_container">
			<h1>explore</h1>
		</div>
	</body>
</html>