<% include head %>
<% include title %>
		<div id="login_form">
			<h1>Log In</h1>
			<form action="/login" method="post">
				<input class="textin" placeholder="email" type="text" name="email"><br/>
				<input class="textin" placeholder="password" type="password" name="password"><br/>
				<input id="subbutton" type="submit" value="Log In">
			</form>
		</div>
	</body>
	<script src="/javascripts/login.js"></script>
</html>