<% include head %>
<% include title %>
		<div id="login_form">
			<h1>Sign In</h1>
			<% if (message.length > 0) { %> <div class="message"><%= message %></div> <% } %>
			<form action="/login" method="post">
				<input class="textin" placeholder="username/email" type="text" name="username"><br/>
				<input class="textin" placeholder="password" type="password" name="password"><br/>
				<input id="subbutton" type="submit" value="Log In">
			</form>
			<p><a href="/signup">(don't have an account? sign up here)</a></p>
		</div>
	</body>
</html>