<% include head %>
	<script type="text/javascript">
		var gifs = [<%- gifs %>];
		var username = "<%- username %>";
	</script>
	<script type="text/javascript" src="/javascripts/gifffer.js"></script>
	<script type="text/javascript" src="/javascripts/pending.js"></script>
<% include title %>
		<div id="container">
			<h1>Pending Gifs</h1>
			<h2>Select gifs to post publicly</h2>
		</div>
	</body>
</html>