<% include head %>
	<script>
		var gifs = [<%- gifs %>];
		var username = "<%- username %>";
	</script>
	<script src="/javascripts/pending.js"></script>
<% include title %>
		<div id="container">
			<h1>Pending Gifs</h1>
			<h2>Click a gif to post publicly</h2>
		</div>
	</body>
</html>