<% include head %>
<% include title %>
		<div id="profile_container">
			<form action="/logout" method="get">
				<input id="logoutbtn" type="submit" value="Log Out">
			</form>
		</div>
	</body>
	<script src="/javascripts/profile.js"></script>
</html>