<% include head %>
<% include title %>
		<div id="signup_form">
			<h1>Sign Up</h1>
			<% if (message.length > 0) { %> <div class="message" ><%= message %></div> <% } %>
			<form action="/signup" method="post">
				<input class="textin" placeholder="username" type="text" name="username"><br/>
				<input class="textin" placeholder="email" type="text" name="email"><br/>
				<input id="pass1" onChange="verifyPassword()" class="textin" placeholder="password" type="password" name="password"><br/>
				<input id="pass2" onChange="verifyPassword()" class="textin" placeholder="password" type="password" name="verify_password"><br/>
				<input id="subbutton" type="submit" value="Sign Up" disabled>
			</form>
		</div>
	</body>
	<script src="/javascripts/signup.js"></script>
</html>