</head>
<body>
	<div id="title">
		<a id="logo" href="/"></a>
		<ul id="menu">
			<a class="button" href="#"><li id="open">&#9776;</li></a>
			<% if (typeof user !== 'undefined') { %>
				<a class="button" href="/profile"><li>my profile</li></a>
				<a class="button" href="/upload"><li>upload video</li></a>
				<!-- <a class="button" href="/pending"><li>pending gifs</li></a> -->
				<a class="button" href="/logout"><li>log out</li></a>
			<% } else { %>
				<a class="button" href="/login"><li>log in</li></a>
				<a class="button" href="/signup"><li>sign up</li></a>
			<% } %>
		</ul>
	</div>