</head>
<body>
	<div id="title">
		<a id="logo" href="/"></a>
		<% if (typeof user !== 'undefined') { %>
			<a href="/profile"><div id="menubutton">create</div></a>
		<% } else { %>
			<a href="/login"><div id="menubutton">sign in</div></a>
		<% } %>
	</div>