</head>
<body>
	<div id="title">
		<div id="logo">
			<a href="/"><img src="/images/voio.png"></a>
		</div>
		<ul id="menu">
			<a class="button" href="#"><li id="open">&#9776;</li></a>
			<a class="button" href="/signup"><li>sign up</li></a>
			<a class="button" href="/login"><li>log in</li></a>
			<a class="button" href="/profile"><li>profile</li></a>
			<a class="button" href="/upload"><li>upload video</li></a>
		</ul>
	</div>