<% include head %>
	<script src="/javascripts/upload.js"></script>
<% include title %>
    <div id="upload_container">

        <h1>Upload</h1>

        <div id ="upMessage" class="message"></div>

        <form id="upForm" action="/" method="post">
        	<input id="upFile" name="upFile" type="file">
        	<input id="upButton" value="Select File" type="button">
        </form>

        <div class="progress">
        	<div class="bar" style="width: 0%"></div>
        </div>

    </div>
</body>
</html>