<% include head %>
	<script>
		var gifs = [<%- gifs %>];
		var username = "<%- user %>";
	</script>
	<script src="/javascripts/squares.js"></script>
<% include title %>
		<div id="container">
			<h1><%= user %></h1>
		</div>
	</body>
	<script src="/javascripts/squares.js"></script>
</html>