<% include head %>
	<script>
		var gifs = [<%- gifs %>];
		var username = "<%- userpage %>";
	</script>
	<script src="/javascripts/squares.js"></script>	
<% include title %>
		<div id="container">
			<h1><%= userpage %></h1>
		</div>
	</body>
</html>