<% include head %>
	<script>
		var gifs = [<%- gifs %>];
		var username = "<%- userpage %>";
	</script>
	<script type="text/javascript" src="/javascripts/squares.js"></script>	
<% include title %>
		<% if (message.length > 0) { %> <div class="message"><%= message %></div> <% } %>
		<div id="container">
			<h1><%= userpage %></h1>
		</div>
	</body>
</html>